.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.nameCard {
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  color: #1b1b1b;
}

.mb-4 {
  margin-bottom: 8px;
}